<html>
<head>
    <title>Usuários</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: ghostwhite;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            font-size: 40px;
        }

        #divPrincipal {
            width: 80%;
            margin: 20px auto;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px gray;
            padding: 20px;
        }

      table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background: black;
    color:white;
    padding:14px;
}

td{
    padding:12px;
    border-bottom:1px solid #ddd;
}

tbody tr:nth-child(even){
    background:#f8fafc;
}

tbody tr:hover{
    background:#e0ecff;
}
    </style>
</head>
<body>
    <h1>Usuários</h1>

    <div id="divPrincipal">
        <a href="/" class="btn home">Home</a>

<a href="/usuarios/cadastrar" class="btn novo">
Novo Usuário
</a>

        <br><br>

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Setor</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each usuarios}}
                <tr>
                    <td>{{nome}}</td>
                    <td>{{email}}</td>
                    <td>{{setor}}</td>
                    <td>{{tipo}}</td>
                    <td>
                        <a href="/usuarios/{{id}}/editar"
class="btn editar">
Editar
</a>

<a href="/usuarios/{{id}}/excluir"
class="btn excluir"
onclick="return confirm('Deseja excluir este usuário?')">
Excluir
</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
